.ui.cards>.card{
    display: flex;
    background-color:white;
    justify-content: center;

}
.ui.card {
    margin: 0;
    align-items: center;
    position: relative;
    animation-name: animationFlip;
    animation-duration: 1s;
}
.ui.card:hover

@keyframes animationFlip{
    0%{}
    50%{
        transform: rotateY(90deg);
    }
    100%{
        transform: rotateY(180deg);

    }
}

.productItems.ui.grid {
    margin: 2vh;
    gap: 20px;
  }

.ui.card>.image,
 .ui.cards>.card>.image {
    width: 100px;
    background:none;
}

.pagination-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}